# Ignorar .venv
.venv/
.mypy_cache/
# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo
*.pyd

*.ini

# Configurações do IDE
.vscode/
.idea/

# Build de distribuicao (PyInstaller)
build/
dist/
*.spec.bak


